{% extends 'MyHomePageBundle::base.html.twig' %}

{% block title %}CV{% endblock %}

{% block navbar %}
    <ul>
        <li><a href="/symfony/web/home">Home</a></li>
        <li><a href="/symfony/web/cv">CV</a></li>
        <li><a href="/symfony/web/portfolio">Portfolio</a></li>
    </ul>
{% endblock %}

{% block content %}<p>CV content here</p>{% endblock %}
