/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-dec-2014, 17:40:51
    Author     : Home
*/
.dialog {
    display: none;
}
.content {
    font-family: Arial;
}
/****************************************************************************** INFORMATION */
.info {
    width: 240px;
    margin: 20px;
    float: right;
    background-color: white;
    border: black 2px solid;
}

.infoHead {
    width: 240px;
    height: 60px;
    float: left;
}

.infoBody {
    width: 240px;
    float: left;
    border-top: black 2px solid;
    padding-bottom: 15px;
}

.infoFoot {
    width: 240px;
    height: 60px;
    float: left;
    border-top: black 2px solid;
    text-align: center;
}

.info h3 {
    text-align: center;
    font-weight: bold;
}

.info p {
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

.info p>span:first-child {
    float: left;
    width: 125px;
    text-align: left;
}

.info p>span:nth-child(2) {
    width: 65px;
    float: left;
    text-align: left;
}

.infoGreen {
    font-weight: bold;
    color: green;
}
/****************************************************************************** MENU LAYOUT */
.menu {
    width: 240px;
    float: left;
    margin: 20px;
    background-color: white;
    border: black 2px solid;
}

.players {
    width: 240px;
    float: left;
}

.stats {
    width: 240px;
    height: 100px;
    float: left;
    border-top: black 2px solid;
}

.stats p {
    margin-left: 25px;
}

.stats p>span:first-child {
    float: left;
    width: 75px;
}

.stats p>span:nth-child(2) {
    width: 140px;
    float: left;
}

.dice {
    width: 120px;
    height: 60px;
    float: left;
}

.action {
    width: 120px;
    height: 60px;
    float: left;
}

.actionButton {
    width: 116px;
    height: 56px;
    margin: 2px;
    font-size: 1.2em;
    text-align: center;
    float: left;
}

.die {
    width: 60px;
    height: 60px;
    float: left;
}

.die-1 {
    background-image: url(../images/die1.png);
}

.die-2 {
    background-image: url(../images/die2.png);
}

.die-3 {
    background-image: url(../images/die3.png);
}

.die-4 {
    background-image: url(../images/die4.png);
}

.die-5 {
    background-image: url(../images/die5.png);
}

.die-6 {
    background-image: url(../images/die6.png);
}
/****************************************************************************** BOARD LAYOUT */
.board {
    width: 942px;
    height: 942px;
    background-color: #CDE6D0;
    float: left;
}

.highLight {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.075) inset, 0 0 64px rgba(0, 255, 0, 128);
    z-index: 10;
}

.playerHighLight {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.075) inset, 0 0 64px rgba(0, 255, 0, 128);
    z-index: 10;
}

.greenLed {
    background-image: url(../images/greenLed.png);
}

.yellowLed {
    background-image: url(../images/yellowLed.png);
}

.redLed {
    background-image: url(../images/redLed.png);
}

.blueLed {
    background-image: url(../images/blueLed.png);
}

.corner {
    width: 100px;
    height: 100px;
    float: left;
    border: black 1px solid;
    position: relative;
}

.horBar {
    width: 942px;
    height: 102px;
    float: left;
    cursor: pointer;
}

.verBar {
    width: 102px;
    height: 738px;
    float: left;
    cursor: pointer;
}

.center {
    width: 736px;
    height: 736px;
    float: left;
    border: black 1px solid;
    background-image: url(../images/center.png);
}
/****************************************************************************** TILE LAYOUT */
.horTile {
    width: 80px;
    height: 100px;
    float:left;
    border: black 1px solid;
    position: relative;
}

.verTile {
    width: 100px;
    height: 80px;
    float:left;
    border: black 1px solid;
    position: relative;
}

.tileBody {
    width: 80px;
    height: 80px;
    float:left;
    position: absolute;
    background-color: #CDE6D0;
}

.name {
    font-family: Arial;
    font-size: .7em;
    text-align: center;
    width: 80px;
    height: 53px;
    margin-top: 2px;
}

.price {
    font-family: Arial;
    font-size: .7em;
    text-align: center;
    width: 80px;
}

.tileRight {
    margin-left: 20px;
}

.tileBottom {
    margin-top: 20px;
}

.avatarBox {
    width: 80px;
    height: 80px;
    position: absolute;
}

.topAvatarBox {
    top: 20px;
}

.leftAvatarBox {
    left: 20px;
}

.horAssetBox {
    width: 80px;
    height: 20px;
    position: absolute;
}

.verAssetBox {
    width: 20px;
    height: 80px;
    position: absolute;
}

.rightAssetBox {
    left: 80px;
}

.bottomAssetBox {
    top: 80px;
}
/****************************************************************************** CORNER TILES */
.start {
    background-image: url(../images/go.png);
}

.cop {
    background-image: url(../images/cop.png);
}

.park {
    background-image: url(../images/park.png);
}

.jail {
    background-image: url(../images/jail.png);
}
/****************************************************************************** NON-STREET TILES */
.train {
    background-image: url(../images/train.png);
}

.chance {
    background-image: url(../images/chance.png);
}

.chest {
    background-image: url(../images/chest.png);
}

.water {
    background-image: url(../images/water.png);
}

.electricity {
    background-image: url(../images/electricity.png);
}

.tax {
    background-image: url(../images/tax.png);
}

.luxury {
    background-image: url(../images/luxury.png);
}
/****************************************************************************** STREET COLORS */
.purple {
    background-color:purple;
}

.lightblue {
    background-color:lightblue;
}

.violet {
    background-color:violet;
}

.orange {
    background-color:orange;
}

.red {
    background-color:red;
}

.yellow {
    background-color:yellow;
}

.green {
    background-color:green;
}

.blue {
    background-color:blue;
}
/****************************************************************************** PLAYERS AVATARS */
.avatar {
    width: 40px;
    height: 40px;
    float: left;
}

.car {
    background-image: url(../images/car.png);
}

.hat {
    background-image: url(../images/hat.png);
}

.boat {
    background-image: url(../images/boat.png);
}

.cart {
    background-image: url(../images/cart.png);
}

.dog {
    background-image: url(../images/dog.png);
}

.shoe {
    background-image: url(../images/shoe.png);
}

.iron {
    background-image: url(../images/iron.png);
}

.thimble {
    background-image: url(../images/thimble.png);
}
/****************************************************************************** ASSETS */
.asset {
    width: 20px;
    height: 20px;
    float: left;
}

.house {
    background-image: url(../images/house.png);
}

.hotel {
    background-image: url(../images/hotel.png);
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}