{% extends 'MyGamesBundle::base.html.twig' %}

{% block title %}Games{% endblock %}

{% block navbar %}
    <ul>
        <li><a href="/symfony/web/app_dev.php">Home</a></li>
        <li><a href="/symfony/web/app_dev.php/games">Games</a></li>
    </ul>
{% endblock %}

{% block content %}<p>Games content here</p>{% endblock %}
