{% extends 'MyHomePageBundle::base.html.twig' %}

{% block title %}Home{% endblock %}

{% block navbar %}
    <ul>
        <li class="navItemSelected"><a href="/symfony/web/app_dev.php">Home</a></li>
        <li class="navItem"><a href="/symfony/web/app_dev.php/cv">CV</a></li>
        <li class="navItem"><a href="/symfony/web/app_dev.php/portfolio">Portfolio</a></li>
        <li class="navItem"><a href="/symfony/web/app_dev.php/contact">Contact</a></li>
    </ul>
{% endblock %}

{% block content %}<p>Home content here</p>{% endblock %}
